.watchlist{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 33%, rgba(4,66,9,1) 95%);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
